extends ../layout-new 

block content 
  ol.breadcrumb.mt-3
    li.breadcrumb-item(aria-current='page') 
      a(href='/companyProfile') Company Profile
    li.breadcrumb-item
      a(href='#') 
  .container.company
    .row
      .col-md-6.pt-3
        small.text-uppercase(style='color: #007bff;') About us
        h1.h2.mb-4(style='font-weight: 600;')
          | Amal Solution 
          span(style='color: #007bff ;') Company
        p.text-secondary(style='line-height: 2; font-size: 1.3rem; text-align:justify')
          | A startup that provides solutions to technology problems. We work together by collaborating with young people and building. 
          | Amal Solution is located in Bandung, here on Jl. Antapani Wetan, Bandung City, West Java 
        a.btn.btn-primary.btn-contact(href="/companyProfile") Contact Us
      .col-md-6.text-center
        .row
          .col-md-6.mb-3
            img.w-100.rounded(src='https://images.pexels.com/photos/3184433/pexels-photo-3184433.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', alt='')
          .col-md-6.mb-3
            img.w-100.rounded(src='https://images.pexels.com/photos/3184431/pexels-photo-3184431.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', alt='')
    container.visi
    .row.visi
      .col-sm-6
        .card.card-company
          .card-body
            h3.card-title Vision
            h5.card-text Providing multi-level partnership solutions as a sharing system for a better life
      .col-sm-6
        .card.card-company
          .card-body
            h3.card-title Mision  
            h5.card-text Live to share, share for a better life. Become a world-class IT professional
    .row.visi 
      .col-sm-6 
        .card.achievement
          .card-body
            h3.card-title Achievement  
            h5.card-text Live to share, share for a better life. Become a world-class IT professional
      .col-sm-6 
         .card.target
          .card-body
            h3.card-title Target  
            h5.card-text Live to share, share for a better life. Become a world-class IT professional
