nav#main-navbar.navbar.navbar-expand-lg.navbar-light.bg-primary
  a.navbar-brand(href='/home')
    p.brand-name.text-white.ml-3 Amal Solution      
  #navbarSupportedContent.collapse.navbar-collapse
    nav.navbar.navbar-expand-lg.navbar-light
    button#sidebarCollapse.btn.btn-primary(type="button")
      span Toogle 
      i.fas.fa-bars

    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #dropdown-profile.dropleft.ml-auto
      button#dropdownMenuButton.bg-primary.d-flex(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        img.userNavbar.mr-2(src='images/man.jpeg' alt='Man') 
        p.ml-3.mr-3.nameUser Rafi Khoirulloh
      .dropdown-menu.mt-5(aria-labelledby='dropdownMenuButton')
        center
          .dataDropdown
            a.settings.setting(href='/settings')
                i#settings.fas.fa-cog.fa-lg
            img.userDropdown.mt-1(src='images/man.jpeg' alt='Man')
            p.nameDropdown.mt-3 Rafi Khoirulloh 
            p.subnameDropdown.mt-3 Member since July 20, 2020
          .d-flex
            .col-lg-6 
              a.btn.btn-primary.dropdown-profile.mt-3(href='/infoProfile') Profile
            .col-lg-6
              a.btn.btn-danger.dropdown-profile.mt-3(href='/') Sign Out
script.
  $('#sidebarCollapse').on('click', function () {
    $('#sidebar, #content').toggleClass('active')
  })

  $(document).ready(function() {
    $('#sidebarCollapse').click()
    $(".box-spinner").show(500)
    $("#dashboard").hide()
    $('.page_404').hide()
    $('.icon').hide()
    $('#data-table').hide()
    
    setTimeout(function() {
      $(".box-spinner").hide()
      $('.page_404').show(3500)
      $("#dashboard").show(3500)
      $('.icon').show(3500)
      $('#data-table').show(3500)
      },1000)

    $('.tabel-btn').click(function(){
      $('nav ul li .tabel-show').toggleClass("show1");
    })
    
    $('.kelola-btn').click(function(){
      $('nav ul li .kelola-show').toggleClass("show2");
    })

    $('.laporan-btn').click(function(){
      $('nav ul li .laporan-show').toggleClass("show3");
    })
    
    $('.statistics-btn').click(function(){
      $('nav ul li .statistics-show').toggleClass("show4");
    })
  })