.wrapper 
  nav#sidebar.col-md-3 
    ul.list-unstyled.components 
      li#home.home.d-flex.mt-3(class = linkHome ? 'active' : '')
        .fas.fa-home.icon-sidebar-home.fa-lg
        a.link-home(href='/home') Home 
      li#tabel.tabel
        .d-flex
          .fas.fa-table.icon-sidebar-report.fa-lg 
          a.tabel-btn(class = linkTableProvinsi ? 'text-active' : '')(class = linkTableKota ? 'text-active' : '')
            | Table  
            span.fas.fa-caret-down.first
        ul.tabel-show
          li#li-provinsi
            a#list-provinsi(href='/table')(class = linkTableProvinsi ? 'text-active' : '')
              i.far.fa-dot-circle
              |  List Province
          li
            a(href='/listKota')(class = linkTableKota ? 'text-active' : 'd-none')
              i.far.fa-dot-circle
              |  List City
          li
            a(href='/listKecamatan')(class = linkTableKecamatan ? 'text-active' : 'd-none')
              i.far.fa-dot-circle
              |  List District
      li#barang.barang
        .d-flex
          .fas.fa-box-open.icon-sidebar-box.fa-lg 
          a.kelola-btn
            | Manage Items  
            span.fas.fa-caret-down.first 
        ul.kelola-show
          li
            a(href='/barangMasuk')
              i.far.fa-dot-circle
              |  Items In
          li
            a(href='/barangKeluar')
              i.far.fa-dot-circle
              |  Items Out
      li#laporan.laporan
        .d-flex
          .fas.fa-chalkboard-teacher.icon-sidebar-report.fa-lg 
          a.laporan-btn
            | Report   
            span.fas.fa-caret-down.first
        ul.laporan-show
          li
            a(href='/dataBarang')
              i.far.fa-dot-circle
              |  Data Items
          li
            a(href='/dataBarangMasuk')
              i.far.fa-dot-circle
              |  Data Items In
          li
            a(href='/dataBarangKeluar')
              i.far.fa-dot-circle
              |  Data Items Out

      li#statistics.statistics
        .d-flex
          .fas.fa-chart-line.icon-sidebar-statistics.fa-lg 
          a.statistics-btn
            | Statistics
            span.fas.fa-caret-down.first
        ul.statistics-show
          li
            a(href='/statistics')
              i.far.fa-dot-circle
              |  Statistics Market
          li
            a(href='/statisticsIncome')
              i.far.fa-dot-circle
              |  Statistics Income
          li
            a(href='/statisticsExpenses')
              i.far.fa-dot-circle
              |  Statistics Expenses

      li#company.company.d-flex(class= linkCompany ? 'active' : '')
        .fas.fa-building.icon-sidebar-company.fa-lg 
        a.link-company(href='/companyProfile') Company Profile 
      li#profile.profile.d-flex(class= linkProfile ? 'active' : '')
        .fas.fa-user.icon-sidebar-user.fa-lg 
        a.link-profile(href='/infoProfile' ) Info Profile
      li#policy.d-flex(class= linkPolicy ? 'active' : '')
        .fas.fa-user-lock.icon-sidebar-policy.fa-lg 
        a.link-policy(href='/policy') Policy
      li#task.d-flex(class= linkTask ? 'active' : '')
        .fas.fa-clipboard-list.fa-lg.icon-sidebar-task 
        a.link-task(href='/task') Task
      a.btn.btn-primary.btn-project(href="/project") Add Project
  #content
        block content