extends ../layout-new 

block content
  section
    .row 
      .col
        ol.breadcrumb.mt-3
          li.breadcrumb-item(aria-current='page') 
            a(href='/home') Dashboard 
          li.breadcrumb-item
            a(href='#') 
    .row 
      .col-lg-3
        .box-weekly-sales
          i.fas.fa-chart-line.fa-2x.icon-sales.float-right
          .text-detail
            p.text-weekly Weekly Sales
            p.value-weekly Rp. 128.357.500
            p.detail-value-weekly Peningkatan sekitar 40%
      .col-lg-3 
        .box-weekly-orders
          i.fas.fa-bookmark.fa-2x.icon-orders.float-right
          .text-detail
            p.text-weekly Weekly Orders
            p.value-weekly 26.348
            p.detail-value-weekly Peningkatan sekitar 60%
      .col-lg-3 
        .box-visitors-online
          i.fas.fa-signal.fa-2x.icon-visitors.float-right
          .text-detail    
            p.text-weekly Visitors Online
            p.value-weekly 824.621
            p.detail-value-weekly Peningkatan sekitar 50%
      .col-lg-3
        .box-subscribers
          i.fas.fa-user-plus.fa-2x.icon-subscribers.float-right
          .text-detail    
            p.text-weekly Subscribers
            p.value-weekly 184.268
            p.detail-value-weekly Peningkatan sekitar 80%
    .row#statistics-dashboard
      canvas#myChart
        script.
          let myChart = document.getElementById('myChart').getContext('2d');

          Chart.defaults.global.defaultFontFamily = 'Lato';
          Chart.defaults.global.defaultFontSize = 20;
          Chart.defaults.global.defaultFontColor = '#777';

          let massPopChart = new Chart(myChart, {
            type:'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data:{
              labels:['Orders', 'Visitors', 'Sales', 'Subscribers'],
              datasets:[{
                label: 'Participant',
                data:[
                  257594,
                  351045,
                  253060,
                  216519
              ],
            //backgroundColor:'green',
            backgroundColor:[
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            hoverBorderWidth:1,
            hoverBorderColor:'#000'
          }]
            },
            options:{
              title:{
                display:true,
                text:'Average Market',
                fontSize:30
            },
            legend:{
              display:true,
              position:'right',
              labels:{
                fontColor:'#000'
            }
            },
            layout:{
              padding:{
                left:50,
                right:0,
                bottom:0,
                top:0
              }
            },
            tooltips:{
            enabled:true
            }
          }
          });
