extends ../layout-new 

block content 
  ol.breadcrumb.mt-3
    li.breadcrumb-item(aria-current='page') 
      a(href='/task') Task 
    li.breadcrumb-item
      a(href='#') 
  .jquery-script-ads(style='margin:20 px auto', align='center')
    script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
  main
    section#task-form
      input#create-task(type='text', name='task-insert', placeholder='Insert your list items here')
      button#create-task Create List
    section#task-container
      ul#task-list
        h3.nothing-message No list yet
        h3.task-headline Today&apos;s Tasks
      #controls
        p **Single Click to mark complete
        p **Double Click to remove from list
        br
        button#clear-all-tasks Clear All Tasks
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();