extends ../layout-new

block content
	ol.breadcrumb.mt-3.ml-5
		li.breadcrumb-item
			a(href='/table') Table 
		li.breadcrumb-item
			a(href='/table') Province
	include ./function
	section
		table#table-provinsi.table.table-striped.table-bordered(style='width:100%')
			thead
				tr
					th.id-prov Id
					th.name-provinsi Name
					th.action-provinsi Action
			tbody
				each i in data 
					tr 
						td.td-idprovinsi= i.id 
						td= i.nama
						td
							button#btn-detail-provinsi.btn.btn-primary.mr-3(type='button', onclick=`btnModalProvinsi('${i.id}','${i.nama}')`) Detail Province
							button#btn-detail-kota.btn.btn-success.mr-3(type='button' onclick=`btnModalKota('${i.id}','${i.nama}')`) List City
							button#btn-modal-cuaca.btn.btn-success.mr-3(type='button' onclick=`modalCuaca('${i.nama}')`) List Weather
							a#btn-detail-kota.btn.btn-info.mr-3(href=`/listkota/${i.id}`) Page List City
							//- a#btn-list-cuaca.btn.btn-info.mr-3(href=`/table/cuaca/${i.nama}`) Page Weather

	#info-modal.modal.fade(tabindex='-1', aria-hidden='true')
		.modal-dialog.modal-xl
			.modal-content
				.modal-header
					h5#modal-label.modal-title
					button.close.btn-danger(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body
					#dataModalProvinsi
					#dataCuaca
					#dataModalKota 
				.modal-footer
					button.btn.btn-danger(type='button', data-dismiss='modal') Close
								