extends ../layout-new

block content
  include ./function
  section
    ol.breadcrumb.mt-3.ml-5
      li.breadcrumb-item
        a(href='/table') Table
      li.breadcrumb-item
        a(href='/listkota') City
    table#table-kota.display.table.table-striped.table-bordered(style='width:100%')
      thead
        tr
          th.id-kota Id City
          th.id-prov Id Province
          th.name-kota Name City
          th.action Action
      tbody
        each i in data
          tr
            td= i.id
            td= i.id_provinsi
            td= i.nama
            td
              button#btn-detail-provinsi.btn.btn-primary.mr-3(type='button', onclick=`modalDetailKota('${i.id}', '${i.nama}')`) Detail City
              button#btn-detail-kota.btn.btn-success.mr-3(type='button' onclick=`modalDetailKecamatan('${i.id}', '${i.nama}')`) List District
              a#btn-detail-kota.btn.btn-info.mr-3(href=`/listkecamatan/${i.id}`) Page List District 
  #info-modal.modal.fade(tabindex='-1', aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5#modal-label.modal-title
          button.close.btn-danger(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #dataDetailKota
          #dataDetailKecamatan
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Close