extends ../layout-new

block content
  include ./function
  section
    ol.breadcrumb.mt-3.ml-5
      li.breadcrumb-item
        a(href='/table') Table
      li.breadcrumb-item
        a(href='/listkecamatan') Sub-District
    table#table-kelurahan.ml-4.display.table.table-striped.table-bordered(style='width:100%')
      thead
        tr
          th.id-sub-district Id Sub-District
          th.id-prov Id District
          th.name-kota Name Sub-District
          th#sub-district.action Action
          tbody
        each i in data
          tr
            td= i.id
            td= i.id_kecamatan
            td= i.nama
            td
              button#btn-detail-provinsi.btn.btn-primary.mr-3(type='button', onclick=`btnModalKelurahan('${i.id}', '${i.nama}')`) Detail Sub-District 
  #info-modal.modal.fade(tabindex='-1', aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5#modal-label.modal-title
          button.close.btn-danger(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #dataKelurahan
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Close