extends ../layout-new

block content
  include ./function
  section
    ol.breadcrumb.mt-3.ml-5
      li.breadcrumb-item
        a(href='/table') Table
      li.breadcrumb-item
        a(href='/listkota') City
      li.breadcrumb-item
        a(href='/listkecamatan') List District
    table#table-kota.display.table.table-striped.table-bordered(style='width:100%')
      thead
        tr
          th.id-kota Id District
          th.id-prov Id City
          th.name-kota Name District
          th.action-kecamatan Action
      tbody
        each i in data
          tr
            td= i.id
            td= i.id_kota
            td= i.nama
            td
              button#btn-detail-provinsi.btn.btn-primary.mr-3(type='button', onclick=`btnModalKecamatan('${i.id}', '${i.nama}')`) Detail District
              button#btn-detail-kota.btn.btn-success.mr-3(type='button', onclick=`btnListKelurahan('${i.id}', '${i.nama}')`) List Sub-District
              a#btn-detail-kota.btn.btn-info.mr-3(href=`/listkelurahan/${i.id}`) Page List Sub District
  #info-modal.modal.fade(tabindex='-1', aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5#modal-label.modal-title
          button.close.btn-danger(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #dataKecamatan
          #dataKelurahan
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Close