extends ../layout-new

block content
  ol.breadcrumb.mt-3
    li.breadcrumb-item
      a(href='/table') Table
    li.breadcrumb-item(aria-current='page')
      a(href='/table') Table Province
    li.breadcrumb-item.active(aria-current='page')
      a(href='/table') Data Cuaca

  include ./function
  section
    table#table-provinsi.table.table-striped.table-bordered(style='width:100%')
      thead
        tr
          th Kota
          th Pagi
          th Siang
          th Malam
          th Suhu
          th Kelembaban
      tbody
        each i in data 
          script.
            if(i.Pagi == null){
              data.Pagi = '-'
            }
            if(i.Siang == null){
              data.Siang = '-'
            }
          tr
            td= i.Kota
            td= i.Pagi
            td= i.Siang
            td= i.Malam
            td= i.Suhu
            td= i.Kelembaban 