script.
  const btnModalProvinsi = (id, nama) => {
    $.ajax({
      url: `/table/${id}`,
      type: 'get',
      dataType: 'json',
      success: function(result, status){
        let idDataProvinsi = result.data.id
        let namaDataProvinsi = result.data.nama
        $('#dataModalProvinsi').html(
          '<table class="table table-striped" border="1">'+
              '<thead>'+
                '<tr>'+
                  '<th scope="col">Id</th>'+
                  '<th scope="col">Name Province</th>'+
                '</tr>'+
              '</thead>'+
              '<tbody>'+
                '<tr>'+
                  `<td>${idDataProvinsi}</td>`+
                  `<td>${namaDataProvinsi}</td>`+
                '</tr>'+
              '</tbody>'+
            '</table>'
        )
        $('#info-modal').modal('show')
        $('#modal-label').text(`Detail Province ${nama}`)
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataModalProvinsi').html('')
        }) 
      }
    })
  }

  const btnModalKota = (id, nama) => {
    console.log(id)
    $.ajax({
      url: `/table/kota/${id}`,
      type: 'GET',
      dataType: 'json',
      success: function(result, status){
        let data = result
        let strings = 
        `
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Id Province</th>
              <th scope="col">Name</th>
            </tr>
          <tbody>
        `
          data.forEach((i) => {
            strings += 
            `
              <tr class="table-hover">
                <td>${i.id}</td>
                <td>${i.id_provinsi}</td>
                <td>${i.nama}</td>
              </tr>
            `
        })
        strings +=
          `
          </tbody>
        </table>
          `
        $('#info-modal').modal('show')
        $('#modal-label').text(`List of Cities in ${nama}`)
        $('#dataModalProvinsi').html(strings)
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataModalProvinsi').html('')
        })  
      }
    })
  }



  const modalDetailKota = (id, nama) => {
    $.ajax({
      url: `/listkota/kota/${id}`,
      type: 'GET',
      dataType: 'json',
      success: (result, status) => {
        let dataKota = result.data
        $('#dataDetailKota').html(
          '<table class="table table-striped" border="1">'+
            '<thead>'+
              '<tr>'+
                '<th scope="col">Id</th>'+
                '<th scope="col">Id Province</th>'+
                '<th scope="col">Name Province</th>'+
              '</tr>'+
            '</thead>'+
            '<tbody>'+
              '<tr>'+
                `<td>${dataKota.id}</td>`+
                `<td>${dataKota.id_provinsi}</td>`+
                `<td>${dataKota.nama}</td>`+
              '</tr>'+
            '</tbody>'+
          '</table>'
        )
        $('#info-modal').modal('show')
        $('#modal-label').text(`Detail City ${nama}`)  
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataDetailKota').html('')
        })
      }
    })
  }

  const modalDetailKecamatan = (id, nama) => {
     $.ajax({
      url: `/listkota/kecamatan/${id}`,
      type: 'GET',
      dataType: 'json',
      success: function(result, status){
        let data = result.data
        let strings = 
        `
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Id Province</th>
              <th scope="col">Name</th>
            </tr>
          <tbody>
        `
          data.forEach((i) => {
            strings += 
            `
              <tr class="table-hover">
                <td>${i.id}</td>
                <td>${i.id_kota}</td>
                <td>${i.nama}</td>
              </tr>
            `
        })
        strings +=
          `
          </tbody>
        </table>
          `
        $('#info-modal').modal('show')
        $('#modal-label').text(`List of District in ${nama}`)
        $('#dataDetailKecamatan').html(strings)
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataDetailKecamatan').html('')
        }) 
      }
    })
  }

  const btnModalKecamatan = (id, nama) => {
    $.ajax({
      url: `/listkecamatan/detail/${id}`,
      type: 'GET',
      dataType: 'json',
      success: (result, status) => {
        let dataKecamatan = result.data
        $('#dataKecamatan').html(
          '<table class="table table-striped" border="1">'+
            '<thead>'+
              '<tr>'+
                '<th scope="col">Id</th>'+
                '<th scope="col">Id City</th>'+
                '<th scope="col">Name District</th>'+
              '</tr>'+
            '</thead>'+
            '<tbody>'+
              '<tr>'+
                `<td>${dataKecamatan.id}</td>`+
                `<td>${dataKecamatan.id_kota}</td>`+
                `<td>${dataKecamatan.nama}</td>`+
              '</tr>'+
            '</tbody>'+
          '</table>'
        )
        $('#info-modal').modal('show')
        $('#modal-label').text(`Detail City ${nama}`)
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataKecamatan').html('')
        })   
      }
    })
  }


  const btnListKelurahan = (id, nama) => {
     $.ajax({
      url: `/listkecamatan/kelurahan/${id}`,
      type: 'GET',
      dataType: 'json',
      success: (result, status) => {
      let dataKelurahan = result.data
      let strings = 
        `
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Id Province</th>
              <th scope="col">Name</th>
            </tr>
          <tbody>
        `
          dataKelurahan.forEach((i) => {
            strings += 
            `
              <tr class="table-hover">
                <td>${i.id}</td>
                <td>${i.id_kecamatan}</td>
                <td>${i.nama}</td>
              </tr>
            `
        })
        strings +=
          `
          </tbody>
        </table>
          `
        $('#info-modal').modal('show')
        $('#modal-label').text(`List of District in ${nama}`)
        $('#dataKelurahan').html(strings)
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataKelurahan').html('  ')
        }) 
      }  
    })
  }

  const btnModalKelurahan = (id, nama) => {
    console.log(id)
     $.ajax({
      url: `/listkelurahan/dataDetail/${id}`,
      type: 'GET',
      dataType: 'json',
      success: (result, status) => {
      let dataKelurahan = result.data
      $('#dataKelurahan').html(
        '<table class="table table-striped" border="1">'+
          '<thead>'+
            '<tr>'+
              `<th scope="col">Id</th>`+
              `<th scope="col">Id District</th>`+
              `<th scope="col">Name Sub-District</th>`+
            '</tr>'+
          '</thead>'+
          '<tbody>'+
            '<tr>'+
              `<td>${dataKelurahan.id}</td>`+
              `<td>${dataKelurahan.id_kecamatan}</td>`+
              `<td>${dataKelurahan.nama}</td>`+
            '</tr>'+
          '</tbody>'+
        '</table>'
        )
        $('#info-modal').modal('show')
        $('#modal-label').text(`Detail Sub-District ${nama}`)
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataKelurahan').html('')
        })   
      }  
    })
  }

  const modalCuaca = (nama) => {
    $.ajax({
      url: `/table/modalcuaca/${nama}`,
      type: 'GET',
      dataType: 'json',
      success: function(result, status){
        let data = result.data
        $('#info-modal').on('hidden.bs.modal', function(e){
          $('#dataCuaca').html('')
        }) 
        let strings = 
        `
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th scope="col">Kota</th>
              <th scope="col">Pagi</th>
              <th scope="col">Siang</th>
              <th scope="col">Malam</th>
              <th scope="col">Suhu &deg;C</th>
              <th scope="col">Kelembaban</th>
            </tr>
          <tbody>
        `
          data.forEach((i) => {
            if(i.Pagi === undefined){
              i.Pagi = '-'
            } 
            if(i.Siang === undefined){
              i.Siang = '-'
            }
            strings += 
            `
              <tr class="table-hover">
                <td>${i.Kota}</td>
                <td>${i.Pagi}</td>
                <td>${i.Siang}</td>
                <td>${i.Malam}</td>
                <td>${i.Suhu} &deg;C</td>
                <td>${i.Kelembaban} RH</td>
              </tr>
            `
        })
        strings +=
          `
          </tbody>
        </table>
          `
        $('#info-modal').modal('show')
        $('#modal-label').text(`List of Weather in ${nama}`)
        $('#dataCuaca').html(strings)
      }
    })
  }