extends layout-new

block content 
  section
    center
      h1.heading404 404
      p.not-found Not found
      p.sub-title The page you're looking for isn't found. We suggest you back to Homepage
      a.link_404(href='/home') Back to Home