script(src="js/jquery-3.6.0.min.js")
script(src="js/bs/bootstrap.min.js")
script(src="js/bs/bootstrap.bundle.min.js")
script(src="js/script.js") 
script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
