link(href="css/bs/bootstrap.min.css" rel="stylesheet")
link(href="css/profile/profil.css", rel="stylesheet")
link(href="css/bs/all.css", rel="stylesheet")
link(href="css/stylebar.css", rel="stylesheet")
link(href="css/style.css", rel="stylesheet")
link(rel="stylesheet", href="css/todolist.css")
link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css')
link(href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet")
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
link(rel='preconnect', href='https://fonts.gstatic.com')
link(href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet")
link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
