*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  background: #1b1b1b;
}
 
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 4px;
}

nav u{
  background: #1b1b1b;
  height: 100%;
  width: 100;
  list-style: none;
}

nav ul li{
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li a{
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  padding-top: -20px;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li a:hover{
  cursor: pointer;
}

nav ul ul{
  position: static;
  display: none;
}

nav ul li ul li a{
  font-size: 20px !important;
  cursor: pointer;
  padding-top: -1cm !important;
}


nav ul .tabel-show.show1{
  display: block;
  margin: 1rem auto;
  
  
}

nav ul .kelola-show.show2{
  display: block;
  margin:1rem auto;
}


nav ul .laporan-show.show3{
  display: block;
  margin: 1rem auto;
}

nav ul .statistics-show.show4{
  display: block;
  margin: 1rem auto;
}

nav ul ul li{
  line-height: 42px;
  border-bottom: none;
  text-indent: 15px;
  margin-bottom: 10px;
}

 nav ul li ul{
   background: #f3f3f3;
   width: 100%;
   border-radius: 5px;
   margin-left: 5px;
   width: 350px;
 }

 nav ul li ul li a{
  margin-top: -1cm;
  opacity: 0.75;
 }

nav ul li a span{
  position: absolute;
  right: 20px;
  transform: translateY(70%);
  font-size: 22px;
  transition: transform 0.4s;
}
