*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' !important;
}

body{
  background: #F6F1F5;
  overflow-x: hidden;
  max-height: 1200 !important;
}

p{
  font-size: 1.5rem;
  font-weight: 400;
}

a{
  color: #010101;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover, a:focus{
  color: #007bff;;
  text-decoration: none;
}

.text-active{
  color: #007bff;
}

.brand-name{
  font-family: 'Zen Dots', 'cursive' !important;
  margin-top: -5px;
  font-size: 1.7rem;
}

/* Login */
.heading{
  font-family: 'Zen Dots', 'cursive' !important;
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-right: 2rem;
}

.img-login{
  width: 100%;
}

.input-login{
  margin-top: 20rem;
  margin-right: 5rem;
  height: 60px !important;
}

.email, .username, .password{
  height: 60px !important;
  margin-top: 1rem;
  border-radius: 10px !important;
}

.btn-login{
  width: 100%;
  height: 60px;
  padding: 12px 13px;
  font-size: 1.2rem;
  font-weight: 500;
}

.checkbox{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 2rem;
}

.remember-me{
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.section-forgot-password{
  margin-top: 2rem !important;
}

.forgot-password, .dont-have-account{
  width: 20rem;
  font-size: 1.2rem;
  color: #007bff;
}

.text-sign-up{
  text-decoration: underline;
}

/* Spinner */
.box-spinner{
  box-sizing: border-box;
  margin-top: 25%;
  margin-left: 48%;
  padding: 0;
}

.spinner {
  --size: 62px;
  width: var(--size);
  height: var(--size);
  position: relative;
  border-radius: 50%;
  perspective: 800px;
}
  
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
}

.inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 10px solid #2cfffe;
}

.inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 10px solid #fcc10f;
}

.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 10px solid #ec1b60;
}

.setting{
  position: absolute;
  top: 0;
  right: 1rem;
} 

.listNavbar{
  font-size: 1.2rem;
  margin: 0 3rem;
}

#sidebarCollapse{
  width: 3rem;
  height: 3rem;
  border: none;
  transition-timing-function: ease-in-out;
}

nav.navbar.navbar-expand-lg.navbar-light.setting i{
  font-size: 15px;
}

.userNavbar{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.nameUser{
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 20px;
} 
  
.btn-outline-success{
  height: 3rem;
  width: 8rem;
}

.special-profile{
  width: 100%;
}

.special-profile:hover{
  background: #eaeaea;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.7s;
}

.dropdown-menu{
  width: 500px;
  height: 350px;
  margin-left: 1350px;
  float: right !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#dropdown-profile{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;

}

.dropdown-profile{
  width: 10rem;
  height: 3rem;
  padding-top: 8px;
  font-size: 1.1rem;
  margin-top: 5px;
  padding-top: 11px;
}

.userDropdown{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.nameDropdown{
  color: #e6e6e6;
  margin-top: -20px;
  font-size: 1.3rem;
}

.subnameDropdown{
  font-weight: 400;
  color: #e1e1e1;
  font-size: 1.2rem;
  margin-top: -1rem;
}

.decorationDropdown{
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
}

.dataDropdown{
  background: #3987BF;
  margin-top: -10px;
  height: 260px
}

#dropdownMenuButton{
  background: none;
  border: none;
  margin-left: -250px ;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;

}

.dropleft{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}


/* Side bar */
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.5s;
}

#sidebar{
  margin-top: 0px;
  min-width: 350px;
  max-width: 350px;
  max-height: 1600px;
  border-radius: 1rem;
  background: #fff;
  color: #010101;
  position: static;
}

#sidebar ul li a{
  padding: 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  display: block;
}
#sidebar ul li ul li a{
  margin-left: 1cm;

}
.icon-sidebar-table, .icon-sidebar-home, .icon-sidebar-box, .icon-sidebar-report, .icon-sidebar-statistics, .icon-sidebar-company, .icon-sidebar-user, .icon-sidebar-policy, .icon-sidebar-task{
  margin-left: 0.7rem;
  margin-top: 2.2rem !important;
  margin-right: 1rem;
  z-index: 100;
  color: black;
}

.icon-active{
  color: #fff;
}

#sidebar ul li{
  margin-left: -15px;
}

#sidebar ul li.active{
  background-color: #007bff;
  width: 350px;
  border-radius: 8px;
} 

.dropdown-toggle::after{
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%)
}

.btn-project{
  width: 17rem !important;
  font-weight: 600;
  height: 4rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 1.7rem;
  padding-top: 16px;
}
  
.btn-project:hover{
  transition: all 0.6s;
  cursor: pointer;
  opacity: 1;
}


/*  Section Dashboard */
#dashboard{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.box-home{
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0.5rem;
  background: linear-gradient( to right, #8FDFDA, #41DCCA);
  position: relative;
  top: 10%;
  right: 0;
  opacity: 0.9;
}

.icon-home{
  position: absolute;
  top: 26%;
  left: 25%;
}

.box-home:hover{
  cursor: pointer;
  transition: all 0.5s;
  opacity: 1;
}

.text-dashboard{
  font-size: 1.2rem;
  font-weight: 600;
  color: #242527 !important; 
  margin-left: 5.5rem;
  margin-top: 0;
  padding-top: 1rem ;
}

.box-weekly-sales, .box-weekly-orders, .box-visitors-online, .box-subscribers{
  position: relative;
  top: 10%;
  right: 0;
  width: 21.5rem !important;
  height: 15rem;
  border-radius: 5px;
}

.box-weekly-sales{
  background: linear-gradient(to right, #FEC7A6, #FFA3B8);
  margin-left: 2rem;
}

.box-weekly-orders{
  background: linear-gradient(to right, #98D2FA, #44ACEB);
}

.box-visitors-online{
  background: linear-gradient(to right, #8FDFDA, #41DCCA);
  margin-left: -2rem;
}

.box-subscribers{
  background: linear-gradient( to right, #00D9A9, #00F4AD);
  margin-left: -4rem;
}

.icon-statistics, .icon-bookmark, .icon-diamond{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
}

.icon-statistics:hover, .icon-bookmark:hover, .icon-diamond:hover{
  cursor: pointer;
}

.text-detail{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 18%;
  left: 12%;
  color: #FFF;
}

.text-detail .text-weekly{
  font-weight: 500;
  font-size: 1.2rem;
}

.text-detail .value-weekly{
  font-size: 1.5rem;
  font-weight: 700;
}


.text-detail .detail-value-weekly{
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 500;
}


.box-statistics-monthly{
  margin-top: -0.9cm;
  position: relative;
  top: 10%;
  right: 0;
  width: 500px;
  height: 740px;
  background-color:#fff;
  border-radius: 1rem;
  float: right;
  margin-right: 2.5cm;
  margin-top: -1.6cm !important;
}

img.statistics-monthly{
  width: 200px;
}

.title-statistics-monthly{
  position: absolute;
  top: 5%;
  left: 5%;
}

.title-statistics-monthly h3{
  font-weight: 600;
}

.statistics-chart{
  position: absolute;
  top: 8%;
  left: 6%;
  width: 90%;
}

.statistics-monthly{
  position: absolute;
  top: 20%;
  left: 32%;
}

.breadcrumb{
  background-color: #F6F1F5;
  font-size: 1.2rem;
  float: left;
}

.box-user{
  float: right;
  width: 30rem;
  height: 16rem;
  position: relative;
  top: 0;
  left: 100%;
  border-radius: 2px;
}


.box-userDropdown{
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border-bottom: 2px solid #eaeaea;
  width: 30rem;
  height: 16rem;
}

.breadcrumb-item.active a{
  color: #007bff !important;
}

#content {
  width: 100%;
  /* padding: 20px; */
  transition: all 0.3s;
  min-height: 100vh;
}

.box-information.sales, .box-information.orders, .box-information.visitors{
  position: absolute;
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
}

.box-information-sales{
  top: 30%;
  left: 10%;
  background-color: #00ABE0;
}

.box-information-sales{
  position: absolute;
  top: 65%;
  left: 5%;
  width: 2.8rem;
  border-radius: 0.6rem
}

.title-information{
  position: absolute;
  top: 65%;
  left: 16%;
  width: 32px;
}

.box-information-orders{
  position: absolute;
  top: 75%;
  left: 5%;
  width: 2.8rem;
  border-radius: 0.6rem
}

.title-information-orders{
  position: absolute;
  top: 76%;
  left: 16%;
  width: 32px;
}

.box-information-visitors{
  position: absolute;
  top: 85%;
  left: 30px;
  width: 2.8rem;
  border-radius: 0.8rem
}

.title-information-visitors{
  position: absolute;
  top: 86%;
  left: 16%;
  width: 32px;
}

.icon-sales, .icon-orders, .icon-visitors, .icon-subscribers{
  color: white;
  margin-top: 8px;
  margin-right: 10px;
}


/* Table CSS */
.dataTables_empty{
  display: none;
}

tr:hover{
    transition: all .2s ease-in;
    cursor: pointer;
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.action{
  width: 450px !important;
}

.action-provinsi{
  width: 650px !important;
}

.action-kecamatan{
  width: 550px !important;
}

.id-kota{
  width: 100px !important;
}

.id-prov{
  width: 100px !important;
}

.name-kota{
  width: 400px;
}

.name-provinsi{
  width: 700px;
}

th#sub-district{
  width: 210px !important;
}

#btn-modal-cuaca{
  background-color: #ff0084;
  border: none;
  font-weight: 500;
}

table{
  padding-left: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.id-sub-district{
  width: 150px !important;
}


/* Section 404 Page */

.heading404{
  font-size: 10rem;
  margin-top: 15%;
  font-family: 'Zen Dots', 'cursive' !important;
}

.not-found{
  font-size: 3rem;
  font-family: 'Zen Dots', 'cursive' !important;
}

.sub-title{
  color: #a7a7a7;
  font-size: 1.2rem;
  margin-top: 1rem;
}
			 
.link_404{			 
	color: #fff!important;
  font-size: 1.2rem;
  font-weight: 600;
  width: 14rem;
  height: 4rem;
  padding: 20px 20px;
  background: #007bff;
  margin: 30px 0;
  font-family: 'Poppins';
  display: inline-block;
  border-radius: 0.5rem;
  opacity: 0.9;
}

.link_404:hover{
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s
}

/* Info Profil */
.svg-inline--fa.fa-caret-down.fa-w-10{
  float: right;
  margin-top: 1.1rem;
}
.svg-inline--fa.fa-cog.fa-w-16{
 float: right;
 margin: 1rem 1rem 1rem 1rem;
 display: none;
}
.description{
  font-size: 1.2rem;
  line-height: 30px;
}
a.settings.setting{
  margin-right: -1rem;
  margin-top: -1px;
}
/* Scrollbar */
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background: #696969;
  border-radius: 0px;
}

@media (min-width: 768px) {
  #sidebar{
    margin-left: -350px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  #sidebar.active{
    margin-left: 0;
  }
  #sidebarCollapse span{
    display: none;  
    transition-timing-function: ease-in-out;
  }

  .box-weekly-sales, .box-weekly-orders, .box-visitors-online, .box-subscribers{
    width: 21rem !important;
  }

  th.action{
    width: 450px;
  }
}   

/*CSS for Statistic*/
.chart{
  width: 600px;
  height: 300px;
  display: block;
}

.numbers{
  color: #000;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  float: left;
  margin-top: 6cm ;
  margin-left: -5.9cm;
}

.numbers li{
  list-style: none;
  margin-top: 3.75cm;
  height: 5px;
  position: relative;
  bottom: 145px;
  margin-left: 7.2cm;
}

.numbers span{
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  margin-top: -5.4cm;
  right: 10px;

}

.bars{
  color: #000;
  font-size: 12px;
  font-weight: 600;
  background: #fff;
  margin-top: 0.7cm;
  margin-left: 1.5cm;
  padding: 0;
  width: 780px;
  height: 740px;
  box-shadow: 0 0 4px 0 #555;
  border-radius: 5px;
  float: left;
}

.bars li{
  display:  table-cell;
  width: 800px;
  height: 740px;
  position: relative;

}

.bars span{
  width: 100%;
  margin-left: -2cm;
  position: absolute;
  bottom: -60px;
  text-align: center;
  font-size: 20px;
}

.bars .bar{
  display: block;
  background: #17C0EB;
  width: 80px;;
  position: absolute;
  margin-left: 1.1cm !important;
  bottom: 0;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
  transition:  0.5s;
  transition-property: background, box-shadow ;
  margin-left: 2cm;
}

.bars .bar:hover{
  background: #55EFC4;
  box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
  cursor: pointer;
}

.bars .bar:before{
  color: #000;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
  font-size: 16px;
}

.container-statsistic{
  width: 100%;
  margin-top: 2cm;
  position: relative;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.row#statistics{
  width: 86%;
  margin-top: 1.5cm;
  margin-left: -1.5cm;
}

.container-statsistic-market{
  width: 83%;
}

.container-statsistic-annual{
  width: 83%;
  
}

.container-statsistic-expenses{
  width: 83%;
  
}

.row#statistics-dashboard{
  width: 86%;
  margin-top: 1.5cm;
  margin-left: -1.3cm;
}

.card{
  border-radius: 10px !important;
  margin-left: 1rem;
}

.card-header{
  height: 60px !important;
  font-size: 1.5rem;
  color: #152C5B;
}


.card-body{
  background-color: #fff;
  border-radius: 10px !important;
}

h5 .card-header{
  vertical-align: middle !important;
}

.breadcrumb-statistics{
  background-color: rgba(0, 0, 0, 0) !important;
  font-size: 1.5rem;
  float: right;
  margin-top: -1.16cm;
  font-size: 1.5rem;

}
.card{
  margin-top: 4.5rem!important;
}

.card-child{
  margin-top: 1rem;
}

.container.company{
  margin-top: 2.5cm !important;
}

/* Policy */

.heading-policy{
  color: #152c5b;
  font-size: 24px !important;
  font-weight: 500;
}

.sub-card{
  margin-top: 2rem !important;
}

.text-policy{
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 28px;
  text-align: justify;
  
}

.card-policy{
  margin-top: -3  0px !important;
}

/* Company Profile */


.card-text{
  font-size: 1.3rem;
  color: #152c5b;
  font-weight: 400;
}
.link-policy{
  margin-left: -0.5rem;
}

.target, .achievement{
  margin-top: 1rem !important;
}

.btn-contact{
  margin-top: 2rem;
  font-size: 1.2rem;
  height: 50px;
  width: 170px;
  padding: 10px 5px;
  font-weight: 500;
}

/* CSS for Settings */
.container-settings{
  width: 100% !important;
}

button#settings{
  width: 3rem;
  height: 3rem;
  border: none;
  color: #000;
  background-color: #3987BF ;
}

a.settings:hover{
  color: rgb(51, 49, 49);
  background-color: #20699c ;
}

.svg-inline--fa.fa-cog.fa-w-16{
  margin-bottom: 12px;
}

h3.name{
  font-size: 25px;
  font-weight: 500;
}

small.administrator, .started{
  font-size: 16px;
}

label.fullname, .name, .emails, .about{
  font-size: 17px;
  text-indent: 5px;
}

input.inptFullName, .inptName, .inptEmails{
  height: 60px !important;
}

b.change{
  font-size: 20px !important;
}

input.inptCurrentPass, .inptNewPass, .inptConfirmPass{
  height: 50px;
}

button.save{
  width: 200px !important;
  height: 50px !important;
  font-size: 18px;
}


/* Footer  */

footer.nb-footer {
  background: #007bff;
  border-top: 4px solid #d4d4d4; 
  height: 50px;
  border-radius: 5px;
  margin-top: 315px;
}

.version-system{
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-left: 1rem;
}

.text-version{
  font-size: 1rem;
  font-family: 'Zen Dots', 'cursive' !important;
  color: #fff;
  margin: 14px 0;
}

.log-info{
  width: 40% !important;
  height: 45px;
  border-radius: 5px;
  margin-left: 5rem;
  background: #E4394B;
}

.text-log-info{
  font-size: 1.2rem;
  font-family: 'Zen Dots', 'cursive' !important;
  color: #fff;
  margin: 13px 23px 0;
}

.footer-company{
  position: absolute;
  top: 5;
  right: 0;
}

.text-footer-company{
  font-size: 1rem;
  font-family: 'Zen Dots', 'cursive' !important;
  color: #fff;
  margin: 13px 23px 0;
}