doctype html 
html
    head 
      title Project PKL Amal 
      link(href="css/bs/bootstrap.min.css" rel="stylesheet")
      link(href="css/bs/all.css", rel="stylesheet")
      link(href="css/style.css", rel="stylesheet")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
      link(rel='preconnect', href='https://fonts.gstatic.com')
      link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
      link(href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js")
      script(src="js/jquery-3.6.0.min.js")
      script(src="js/bs/bootstrap.min.js")
      script(src="js/bs/bootstrap.bundle.min.js")
      script(src="js/script.js") 
    body  
      .row 
        .col-xl-5.col-lg-5
          img.img-fluid.img-login(src="images/SidebarLog.png", alt="images")
        .col-lg-7.col-md-6
          .float-right 
            h3.heading Amal Solution
          .input-login
            .row 
              .col-lg-6.col-md-4.col-sm-3
                .input-group.input-group-lg.mb-3
                  input.form-control.username(type='text', placeholder='Username', aria-label='Username', aria-describedby='Username')
              .col-lg-6.col-md-4.col-sm-3
                .input-group.input-group-lg.mb-3
                  input.form-control.email(type='email', placeholder='Email', aria-label='Email', aria-describedby='Email') 
            .row 
              .col-lg-12.col-md-4.col-sm-3
                .input-group.input-group-lg.mb-3
                  input.form-control.password(type='password', placeholder='Password', aria-label='Password', aria-describedby='Password')
            .row  
              .col-lg-12.col-md-4.col-sm-3
                a.btn.btn-primary.mt-3.btn-login(href="/home") Sign In
            .row 
              .col-lg-3.col-md-4.col-sm-3
                .d-flex
                  input.checkbox(type="checkbox" aria-label="Checkbox")
                  p.remember-me Remember 
              .col-lg-9.col-md-4.col-sm-3.section-forgot-password
                .float-right 
                  a.forgot-password(href="3") Forgot Password?
            .row 
              .col-lg-12.col-md-4.col-sm-3
                center 
                  a.dont-have-account(href="#")
                    | Dont Have Account? 
                    span.text-sign-up Sign Up  