extends ../layout-new

block content
  ol.breadcrumb.mt-2
      li.breadcrumb-item(aria-current='page') 
        a(href='/policy') Policy
      li.breadcrumb-item
        a(href='#') 
  .card
    .card-header
      h3.ml-1.heading-policy Privacy Policy
    .card-body
      p.text-policy
        | If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at localhost:3000
        | At localhost:3000we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by localhost:3000 and how we use it.

  .card.sub-card
    .card-header.card-policy
      h4.ml-1.heading-policy Cookies and Web Beacons
    .card-body
      p.text-policy
        | localhost:3000 uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser.
        | DoubleClick DART Cookie
        | Google, as a third party vendor, uses cookies to serve ads on localhost:3000
        | Google's use of the DART cookie enables it to serve ads to our site's visitors based upon their visit to localhost:3000and other sites on the Internet. 
        | Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - localhost:3000
  .card.sub-card
    .card-header.card-policy
      h3.ml-1.heading-policy Third Party Privacy Policies
    .card-body
      p.text-policy
        | You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. localhost:3000 privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites. You may find a comprehensive listing of these privacy policies and their links here: Privacy Policy Links.
        | If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. What Are Cookies?