extends ../layout-new

block content
  ol.breadcrumb.mt-3
    li.breadcrumb-item
      a(href='/statistics') Statistics Market
    li.breadcrumb-item(aria-current='page') 
      a(href='/statisticsAnnual') Statistics Income
    
  .container-statsistic-annual
    canvas#myChart
      script.
        let myChart = document.getElementById('myChart').getContext('2d');

        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 22;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(myChart, {
          type:'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
          data:{
            labels:['2017', '2018', '2019', '2020'],
            datasets:[{
              label: 'Participant',
              data:[
                67500,
                150500,
                354000,
                234000
            ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          hoverBorderWidth:1,
          hoverBorderColor:'#000'
        }]
          },
          options:{
            title:{
              display:true,
              text:'Annual Income',
              fontSize:30
          },
          legend:{
            display:true,
            position:'right',
            labels:{
              fontColor:'#000'
          }
          },
          layout:{
            padding:{
              left:50,
              right:0,
              bottom:0,
              top:0
            }
          },
          tooltips:{
          enabled:true
          }
        }
        });
