extends ../layout-new

block content
  ol.breadcrumb.mt-3
    li.breadcrumb-item(aria-current='page') 
      a(href='/statistics') Statistics Market
    li.breadcrumb-item
      a(href='#')
    
  .container-statsistic-market
    canvas#myChart
      script.
        let myChart = document.getElementById('myChart').getContext('2d');

        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 22;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(myChart, {
          type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
          data:{
            labels:['Orders', 'Visitors', 'Sales', 'Subscribers'],
            datasets:[{
              label: 'Participant',
              data:[
                100000,
                300000,
                351045,
                153060
            ],
          backgroundColor:[
            'rgba(255, 159, 64, 0.4)'
          ],
          hoverBorderWidth:1,
          hoverBorderColor:'#000'
        }]
          },
          options:{
            title:{
              display:true,
              text:'Total Market',
              fontSize:30
          },
          legend:{
            display:true,
            position:'right',
            labels:{
              fontColor:'#000'
          }
          },
          layout:{
            padding:{
              left:50,
              right:0,
              bottom:0,
              top:0
            }
          },
          tooltips:{
          enabled:true
          }
        }
        });
