extends ../layout-new

block content
  link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet')
  hr.hr-or
  footer.nb-footer
    .container-footer
      .row
        .col-sm-12
        .col-md-3.col-sm-6
          .footer-info-single
            h3.brand-name.footer-heading.mt-3 Amal Solution
            ul.list-unstyled
              li
                a(href='/home')
                  |  Home
              li
                a(href='/table')
                  |  Table
              li
                a(href='#')
                  |  Items
              li
                a(href='#')
                  |  Report
              li
                a(href='/statistics')
                  |  Statistics
        .col-md-3.col-sm-6
          .footer-info-single
            h2.footer-subheading Company
            ul.list-unstyled
              li
                a(href='companyProfile')
                  |  Profile 
              li
                a(href='/infoProfile')
                  |  Address
              li
                a(href='/settings' title='')
                  |  Full Secured
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Contact Us
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Maps
        .col-md-3.col-sm-6
          .footer-info-single
            h2.footer-subheading Products
            ul.list-unstyled
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Detail Products
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Items In
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Items Out
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Benefits
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Expanses
        .col-md-3.col-sm-6
          .footer-info-single
            h2.footer-subheading Social Media
             ul.list-unstyled
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Instagram
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Facebook
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Twitter
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Youtube
              li
                a(href='http://www.nextbootstrap.com/' title='')
                  |  Email
      .row.mt-5 
        .box-footer
          .d-flex 
            .col-lg-4 
              i.fab.fa-instagram.fa-2x.icon-footer
              i.fab.fa-twitter.fa-2x.icon-footer
              i.fab.fa-facebook.fa-2x.icon-footer 
              i.far.fa-envelope.fa-2x.icon-footer
            .col-lg-4 
              .d-flex 
                p.bottom-footer Terms of Service |
                p.bottom-footer Privacy Policy |
                p.bottom-footer Licenses
            .col-lg-4 
              .float-right
                p.footer-copyright Copyright © 2021 Analystic Max