extends ../layout-new

block content
  .col
    ol.breadcrumb.mt-3
      li.breadcrumb-item(aria-current='page') 
        a(href='/infoProfile') Info Profile
      li.breadcrumb-item
        a(href='#')
  section.profile_container
    .profile_img_section
      img.profile_img-LG(src='images/man.jpeg' alt='man')
      .flag_wrapper
        img.flag(src=`${linkImg}`, alt='Indonesia Flag')
    .profile_desc_section
      .row
        .col-6
          h2.namauser= nameUser
        .col-6
          a.btn.btn-primary.col-lg-6.button-edit(href='/settings') Edit 
      h3.titleuser= titleUser
      p.description= deskripsi
      
      .interests
        span.interests_item= tags [0]
        span.interests_item= tags [1]
        span.interests_item= tags [2]
      .info
        ul
          li.info-profile
            .link_img_wrapper
              img.link_img(src='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/round-pushpin_1f4cd.png', alt='')
            p= country 
          li.info-profile
            .link_img_wrapper
              img.link_img(src='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/speaking-head_1f5e3-fe0f.png', alt='')
            p= bahasa
          li.info-profile
            .link_img_wrapper
              img.link_img(src='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/globe-with-meridians_1f310.png', alt='')
            p= username 
  footer.nb-footer
    .row 
      .col-lg-1.version-system 
        p.text-version v0.16.68
      .col-lg-3.footer-company 
        p.text-footer-company Copyright © 2021 Amal Solution

            

